// .eslintrc.json or .eslintrc.js
{
  "env": {
    "jest": true,
    "node": true
  },
  "globals": {
    "page": "readonly",
    "browser": "readonly",
    "context": "readonly",
    "jestPuppeteer": "readonly"
  }
}
